@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

/* Default stylings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  overflow-x: hidden; /* Hide scrollbars */
}

/* Default stylings */

/* Scrollbar -- start */
/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(229, 21, 63);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(229, 1, 1);
} */

/* Scrollbar -- end */

Navbar Start


.navbar-brand{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.5rem;
} 


.nav-item {
  font-size: 1.5rem;
}

.nav-item,
.nav-brand {
  margin: 14px 30px;
}

/* Navbar End */

/* Hero Start*/
#hero {
  padding-top: 96px;
  font-family: "Montserrat", sans-serif;
  height: 88.6vh;
  background-color: black;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img  {
  height: 250px;
  width: 400px;
  object-fit: cover;
}

.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.type-animation {
  font-size: 0rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  font-family: "Spartan", sans-serif;
  color: white;
}

.type-text,
.cursor {
  font-size: 3rem;
  margin: 90px 0;
}

/* Hero End*/

/* About start  */

.about-font{
  text-align: center;
}

.about-img{
  display: flex;
  justify-content: center;
  align-items: center;
} 

#about{
  height: 100vh;
  background-color: black;
  color:white;
  justify-content: center;
  align-items: center;
  display:flex;
}
span{
  color:crimson;
}


.about-text p{
  text-align:center;
}
#about img{
  height: 200px;
  width: 200px;
  float: left;
}
/* About End  */

/* Skill start */

#skills{
  text-align: center;
  height: 70vh;
  background-color: black;
  color: white;
}

.skill-row{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.skill-img{
  padding:40px;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

/* Skill End */

/* Contact start */
.contact {
  color:black;
  margin-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

label{
  margin: 20px;
}

.textarea{
  margin: 20px;
}

.contact h2 {
  padding: 10px;
  border-bottom: 5px solid #7c00c9;
  display: inline-block;
}

.contact .col-12 {
  margin-left: auto;
  margin-right: auto;
}

.contact .form {
  padding: 60px;
  text-align: left;
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contact .form h2 {
  font-size: 24px;
}

.contact .form .textarea {
  margin: 30px 0px;
}

.contact .form .textarea label {
  font-weight: 600;
  color: #45464d;
}

.contact .form .textarea input,
.contact .form .textarea textarea {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  outline: none;
  border: 1px solid #cdcaed;
  color: #45464d;
}

.contact .form .textarea textarea {
  height: 150px;
}



.contact .form button:hover {
  opacity: 0.9;
}

.contact .form:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-btn{
  margin-top:30px;
  color:black;
  display: inline-block;
  text-decoration: none;
  color:#fff;
  border: 1px solid black;
  position: relative;
  background-color: black;
  padding: 12px 50px;
  cursor:pointer;
  transition: 0.3s ease;
}
#contact button:hover{
  border: 1px solid crimson;
  background-color:crimson;
}

#about h1, #trainers h1,#courses h1,#contact h1{
  font-size: 2rem;
}

/* Contact End */

/* Footer start */

#footer{
  text-align: center;
  color: #fff;
  height: 20vh;
  background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
}

#footer h2{
  padding:20px 0 0 0  ;
}

.fa-3x{
  margin: 0 20px;
}

.footer-imgs{
  margin-bottom:  30px;
  padding-top: 10px;
}

/* Footer End */

/* Media Query */


/* Mobile start */
@media screen and (max-width: 768px) {
  .type-text,
  .cursor {
    font-size: 2rem;
    margin: 90px 0;
  }

  .navbar-toggler{
    margin-right:10px;
  }

  .skill-img{
    height: 160px;
    width:160px;
    padding: 30px;
  }

  #skills{
    height: 105vh;
  }
  .nav-item,
  .nav-brand {
    margin: 0;
    padding: 0;
  }

  #hero{
    height: 100vh;
  }

  .hero-img{
    margin-top: 100px;
  }

  .about-img{
    margin-top: 50px;
  }
  .hero-img,.about-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }


  .about-font{
    margin-top: 50px;
  }

  .about-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }



  #skills{
    padding-bottom: 20px;
  }

  .single-img{
    height: 90px;
    width: 90px;
  }
  
    
  .about-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }



}

/* Mobile end  */




/* Tab start */

@media screen and (min-width:768px) and (max-width:1000px) {

  #skills{
    height: 50vh;
  }

  .hero-img  {
    height: 250px;
    width: 400px;
    object-fit: cover;
  }
  

  #about{
    height: 80vh;
  }
}
/* Tab End */

/* Ipad pro start */

@media screen and (min-width:1366px) and (max-width:1366px) {
  #hero{
    height: 50vh;
  }
} 

/* Ipad pro end*/

/* Galaxy fold Start */
@media only screen 
and (min-device-width : 280px) 
and (max-device-width : 280px) 
{
  #skills{
    height: 180vh;
  }

  .hero-img{
    height: 200px;
    width: 200px;
  }

}

/* Galaxy fold End */


@media screen and (min-width:768px) {
  
  .about-text{
    position: relative;
    top: 150px;
    right:100px;
    text-align: center;
    float: right;
  }

}

h5{
  color: red;
  background-color: black
}

.d-md-block{
  display: block!important;
  height: -webkit-fill-available;
}
