@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

/* Default stylings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Default stylings */

/* Scrollbar -- start */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(229, 21, 63);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(229, 1, 1);
}

/* Scrollbar -- end */

/* Navbar Start */


.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
}


.nav-item {
  font-size: 1.5rem;
}

.nav-item,
.nav-brand {
  margin: 14px 30px;
}

/* Navbar End */

/* Hero Start*/
#hero {
  margin-top: 96px;
  font-family: "Montserrat", sans-serif;
  height: 88.6vh;
  background-color: black;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img  {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.type-animation {
  font-size: 0rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  font-family: "Spartan", sans-serif;
  color: white;
}

.type-text,
.cursor {
  font-size: 3rem;
  margin: 90px 0;
}

/* Hero End*/

/* About start */
span{
  color:crimson;
}


.about-p {
  font-size:1.6rem;
}


#about{
  background-color: black;
  color:white;
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-img{
  float: left;
  height:400px;
  width: 400px;
}

/* About End */




/* skills start */

#skills{
  text-align:center;
  background-color: black;
  color:white;
  height: 100vh;
}

.image-con{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  flex-direction: row;
}

.single-img{
  margin:0 30px;
  height: 150px;
  width: 150px;
}

/* skills end */


/* Contact start */



#contact{
  color:white;
  padding-top: 100px;
  background-color: black;
  height: 90vh;
  text-align:center;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.loader{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left:0px;
  background: rgb(0, 0, 0);
  display:none;
}

.username,.email{
  border-radius: 10px;
  margin:30px 0 ;
  width: 250px;
}

.message{
  border-radius: 10px;
  width:250px;
  height: 250px;
}

::placeholder{
  text-align: center;
}
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}



fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 70%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}


#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


/* Contact end */



/* Media Query */

@media screen and (max-width: 768px) {
  .type-text,
  .cursor {
    font-size: 2rem;
    margin: 90px 0;
  }

  .navbar-toggler{
    margin-right:10px;
  }

  .nav-item,
  .nav-brand {
    margin: 0;
    padding: 0;
  }

  #hero{
    margin: 0;
    height: 100vh;
  }

  .hero-img{
    margin-top: 100px;
  }

  .about-img{
    margin-top: 50px;
  }
  .hero-img,.about-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }


  #about{
    margin-top:0px;
  }

  #about h1,p{
    margin-bottom: 20px;
    text-align: center;
  }

  #skills{
    padding-bottom: 20px;
  }

  .single-img{
    height: 90px;
    width: 90px;
  }
  
  #about p {
    font-size: 1rem;
  }

    
  .about-img{
    float: left;
    height:300px;
    width: 300px;
    object-fit:cover;
  }




}



@media screen and (min-width:768px) {
  
  .about-text{
    position: relative;
    top: 150px;
    right:100px;
    text-align: center;
    float: right;
  }

}